.kundklubbenMain {
  font-family: "Mikado", sans-serif; /* Maintain font */
  margin: 10px;
  padding: 10px;
}
.kundklubben1 {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #ffcb14;
}
.kundklubben2 {
  width: 150px;
  height: 50px;
  background-color: #69b3e7;
  color: white;
}
.kundklubben3 {
  width: 150px;
  height: 50px;
  background-color: #6bcaba;
  color: white;
}
.låda1 {
  background-color: #f78da7;
  width: 450px;
  height: 70%;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  font-size: 14px;
}
.låda2 {
  background-color: #00d084;
  width: 450px;
  height: 70%;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  font-size: 14px;
}
.låda3 {
  background-color: #0693e3;
  width: 450px;
  height: 70%;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  font-size: 14px;
}
.låda4 {
  background-color: #fcb900;
  width: 450px;
  height: 70%;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  font-size: 14px;
}
.merAvDetGoda {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}
.poäng {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 15px;
}
.buttonsBox {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.samla {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 200px;
  align-items: center;
}
.text {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.Gott {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  margin: 90px;
  padding: 20px;
}
.mer {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  padding: 10px;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 426px) {
  .merAvDetGoda {
    display: flex;
    flex-direction: column;
  }
  .Gott {
    font-size: medium;
  }
  .mer {
    font-size: small;
  }
  .samla {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .låda1,
  .låda2,
  .låda3,
  .låda4 {
    width: 100%;
  }
  .buttonsBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }
}
@media (min-width: 427px) and (max-width: 1023px) {
  .merAvDetGoda {
    flex-direction: column;
  }
  .buttonsBox {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
  .Gott {
    font-size: small;
  }
  .mer {
    font-size: smaller;
  }
}
